.blog_title
	font-size 22pt!important
	line-height 24pt!important

.post_title
	font-size 32pt!important
	line-height 32pt!important
	span
		border none!important

.collect_item
	&:hover span
		border none!important
	&.active span
		border-bottom 2px solid rgb(237, 70, 47)


.post_intro
	font-size 14pt!important
	line-height 20pt!important