.collect_head
	margin-top 80px!important

.collect_title
	font-size 30pt!important
	line-height 32pt!important

.collect_quote
	font-size 14pt!important
	line-height 20pt!important
	margin-top 10px!important
	margin-left 0px!important

.collect_intro
	font-size 22pt!important
	line-height 24pt!important

.collect_description
	font-size 14pt!important
	line-height 20pt!important

.collect_slider
	height 280px!important
	width 100vw!important
	margin-left: calc((100% - 100vw) / 2)!important
	.swiper-button-next
		right 20px!important
	.swiper-button-prev
		left 20px!important

.patterns_title
	font-size 24pt!important
	line-height 26pt!important

.patterns_slider
	height 120px!important
	.slide_item
		width 120px!important
		height 120px!important
		&:hover
			border none!important

.recomends_title
	font-size 22pt!important
	line-height 24pt!important

.recomends_desc
	font-size 14pt!important
	line-height 20pt!important