.concept_intro
	font-size 20pt!important
	line-height 24pt!important
	margin-bottom 80px!important

.author_block
	width 100vw!important
	margin-left: calc((100% - 100vw) / 2)!important
	padding-left 20px!important
	padding-right 20px!important
	box-sizing border-box
	.author_quote
		font-size 20pt!important
		line-height 24pt!important
	.author_description
		font-size 14pt!important
		line-height 20pt!important


.item_title
	font-size 22pt!important
	line-height 24pt!important

.item_desc
	font-size 14pt!important
	line-height 20pt!important