.direction_head
	margin-top 80px!important

.direction_title
	font-size 30pt!important
	line-height 32pt!important

.direction_quote
	font-size 14pt!important
	line-height 20pt!important
	margin-top 10px!important
	margin-left 0px!important

.direction_intro
	font-size 22pt!important
	line-height 24pt!important

.direction_description
	font-size 22pt!important
	line-height 24pt!important

.collect_title
	font-size 32pt!important
	line-height 32pt!important
	a
		border none!important

.collect_slider
	width 100vw!important
	margin-left: calc((100% - 100vw) / 2)!important
	height 280px!important
	.swiper-button-next
		right 20px!important
	.swiper-button-prev
		left 20px!important

.collect_description
	font-size 14pt!important
	line-height 20pt!important