.menu_block
	display none!important

.lang_block
	margin-top 12px!important
	margin-left 40px!important

.menu_drop
	display block!important

.logo img
	width 100px!important
	padding-top 5px!important
	padding-bottom 5px!important

.cut
	padding-top 20px!important
	padding-bottom 20px!important
	font 20pt/24pt 'RegalTextPro RegBold'!important
	&.instagram img
		width 60px!important