.slide_inner
	margin-top 80px!important

.slide_title
	font-size 30pt!important
	line-height 32pt!important

.slide_s_title
	font-size 14pt!important
	line-height 20pt!important
	margin-top 10px!important
	margin-left 0px!important

.slide_quote
	font-size 16pt!important
	line-height 18pt!important
	bottom 130px!important

.direction_title
	font-size 14pt!important
	line-height 20pt!important

.collect_item
	width 100%!important
	margin-bottom 40px!important
	&:hover .image
		filter: none!important
	.collect_title
		font-size 32pt!important
		line-height 32pt!important
	.collect_quote
		font-size 14pt!important
		line-height 20pt!important
		display block!important
	.collect_image
		padding-top 100%!important
		.quote
			display none!important