extends ../layout
include ../_forms.jade

block header_meta
	- var content_title= 'ДОБАВИТЬ КОЛЛЕКЦИЮ'

block header_include
	- var include_libs_css = ['pickmeup.min.css', 'font-awesome.css', 'wysiwyg-editor.min.css']
	- var include_css = ['add.css']
	- var include_libs_js = ['jquery.pickmeup.min.js', 'wysiwyg.min.js', 'wysiwyg-editor.min.js', 'jquery-ui.min.js', 'jquery.filedrop.js']
	- var include_js = ['upload.js', 'editor.js', 'add.js', 'a_events.js']

block sub_menu
	a.sub_item.back_link(href='/admin/collects') Назад
	span.sub_item.toggle_eng Перевод
	.sub_right_block
		input.form_cancel(type='submit', value='Отменить')
		input.form_submit(type='submit', value='Добавить')

block content
	.form_block
		.title= content_title
		form(action="", method="post", enctype="multipart/form-data")
			.form_title Название:
			+form_text_single('title')
			.form_title Синоним:
			input(type='text', name='sym')
			.form_title Цитата:
			+form_text_single('quote')
			.form_title Подпись:
			+form_text_single('signature')
			.form_title Вступление:
			+form_text_single('intro')
			.form_title Подзаголовок:
			+form_text_single('s_title')
			.form_title Описание:
			+form_text_multi('description')
			.form_title Рекомендации:
			+form_text_multi('recommends')
			.form_title Обложка:
			+form_single_file('poster')(accept='image/jpeg,image/png,image/gif')
			.form_title Обложка (при наведении):
			+form_single_file('poster_hover')(accept='image/jpeg,image/png,image/gif')
			.form_title Изображения:
			+form_images_upload()
			.form_title Текстур в коллекции:
			input(type='text', name='patterns_counter', value='0')
			.form_title Текстуры:
			+form_multiple_images('patterns')(accept='image/jpeg,image/png,image/gif')
			.form_title Слайдер на главной:
			select(name='main_slider')
				option(value='false') Выкл.
				option(value='true') Вкл.
			.form_title Стиль заполнения:
			select(name='main_style')
				option(value='cover') Заполнение
				option(value='contain') Портрет
			.form_title Статус:
			select(name='status')
				option(value='base') Обычный
				option(value='hidden') Скрытый
				option(value='special') Особый
			.form_title Дата публикации:
			+form_date('date')

