mixin instagram_cut()
	.cut.instagram
		img.instagram_logo(src='/stuff/laki/icons/social/instagram.png')
		a.instagram_desc(href='#') XDance Sky Instagram

mixin blog_cut()
	.cut.blog
		if Math.random() >= 0.5
			span!= __('Рассказываю о создании коллекций и приглашаю к обсуждению в свой <a href="/blog">блог</a>')
		else
			span!= __('Читайте экспертный <a href="/blog">блог</a> Елены Латаш')