extends layout

block header_meta
	- var content_title= 'xDance Sky' + ' | ' + __('Блог')
	- var content_description = ''

block header_include
	- var include_css = ['blog.css']
	- var include_js = ['blog.js']

block content
	.collects_block
		.blog_title!= title
		.collects_title= __('О коллекциях') + ':'
		.collects_items
			each collect in collects
				.collect_item(id=collect._id): span= collect.i18n.title.get(locale)

	.posts_block

	.posts_loader: span= __('Еще') + '...'