extends layout

block header_meta
	- var content_title= 'xDance Sky' + ' | ' + __('Блог')
	- var content_description = ''

block header_include
	- var include_css = ['blog.css']
	//- - var include_js = ['blog.js']

block content
	.collects_block
		.blog_title Статьи про лаковые покрытия, про процедуры по уходу за ногтями, про секреты маникюра от ведущих экспертов профессии: производителей лаков и мастеров маникюра.
		.collects_title О коллекциях:
		.collects_items
			each collect in collects
				.collect_item: span= collect.i18n.title.get(locale)
	.posts_block
		each post in posts
			a.post_item(href='/blog/' + (post.sym ? post.sym : post._short_id))
				.post_inner
					.post_poster
					h1.post_title: span= post.i18n.title.get(locale)
					.post_intro!= post.i18n.intro.get(locale)