include _helpers.jade
extends layout

block header_meta
	- var content_title= 'xDance Sky' + ' | ' + __('Где купить?')
	- var menu_active= 'buy'
	- var content_description= ''

block header_include
	- var include_css = ['buy.css']
	- var include_js = ['buy.js']

block over
	.over_block: .buy_head
		.buy_phone= __('Контактный телефон для оптовиков:') + ' ' + phone
		a.buy_blank(href='/cdn/order.pdf')= __('Бланк заказа')

block content
	.buy_shops
		.shops_title= __('Адреса магазинов')
		.shops_list
			each item in new Array(3)
				.list_item
		.shops_items
			each item in new Array(6)
				.shop_item
					.shop_city г. Москва
					.shop_station ст. м. Проспект Мира
					.shop_adress ул. Достоевского д3
					.shop_apartment ТК Дубровка, ряд 9, павильон 197
					.shop_time 8:00 - 16:20

	+instagram_cut()