extends layout

block header_meta
	- var content_title= 'Где купить?'
	- var menu_active= 'buy'
	- var content_description= ''

block header_include
	- var include_css = ['buy.css']
	- var include_js = ['buy.js']

block content
	h1 Buy!