extends layout

block header_meta
	- var content_title= 'xDance Design' + ' | Коллекция | ' + collect.i18n.title.get(locale)
	- var content_description = collect.i18n.s_title.get(locale)
	- var content_images = [collect.poster]
	- var menu_active = 'collect'

block header_include
	- var include_libs_css = ['swiper.min.css']
	- var include_css = ['collect.css']
	- var include_libs_js = ['swiper.jquery.min.js']
	- var include_js = ['collect.js']

block content
	h1 Collection!