extends layout

block header_meta
	- var content_title= 'xDance Design'
	- var content_description = ''

block header_include
	- var include_libs_css = ['swiper.min.css']
	- var include_css = ['main.css']
	- var include_libs_js = ['swiper.jquery.min.js']
	- var include_js = ['main.js']

block over
	.over_block
		.slider_block.swiper-container
			.swiper-wrapper
				each slide in new Array(5)
					.slide_item.swiper-slide: .slide_inner
						.slide_title Slide Title
						.slide_s_title Slide ad
						.slide_quote Slide Quote
			.swiper-pagination

block content
	.directions_block
		each direction in new Array(6)
			.direction_item
				.direction_title Direction Title
				.directions_collects
					each collect in new Array(5)
						.coolect_item
							.collect_title Collection Title
							.collect_quote Collection quote