include _cuts.jade
extends layout

block header_meta
	- var content_title= 'xDance Sky'
	- var content_description = ''

block header_include
	- var include_libs_css = ['swiper.min.css']
	- var include_css = ['main.css']
	- var include_libs_js = ['swiper.min.js']
	- var include_js = ['main.js']

block over
	.over_block
		.slider_block.swiper-container
			.swiper-wrapper
				each slide in collects
					.slide_item.swiper-slide(style='background-image: url(' + slide.poster + ')')
						.slide_inner
							.slide_title= slide.i18n.title.get(locale)
							.slide_s_title= slide.i18n.s_title.get(locale)
							.slide_quote= slide.i18n.quote.get(locale)
			.swiper-pagination.swiper-pagination-white

block content
	.directions_block
		each direction, i in directions
			.direction_item
				.direction_title= direction.i18n.title.get(locale)
				.direction_collects(class='x' + direction.main_columns)
					each collect in direction.collects
						a.collect_item(href='#')
							.collect_title: span= collect.i18n.title.get(locale)
							.collect_image: .image_in
								.image(style='background-image: url(' + collect.poster + ')')
								.quote: span= collect.i18n.quote.get(locale)
			if i == 0
				+blog_cut_two()
			if i == 1
				+instagram_cut()
