doctype html
html
	head
		include header
	body(class=menu_active)
		.maket_block
			.back_top: img(src='/stuff/laki/icons/arrow.svg')
			.title_block: .title_inner
				a.logo(href='/'): img(src='/stuff/laki/icons/logo/main_w.svg')
				.lang_block
					//- if locale == 'en'
					//- 	a.ru(href='/lang/ru') рус
					//- if locale == 'ru'
					//- 	a.en(href='/lang/en') eng
				if (session && session.user_id)
					.stargazer_block
							a(href='/auth') stargazer
							span= ' | '
							a(href='/auth/logout') выход
				.menu_block
					a.coll(href='/#collections'): span= __('Коллекции')
					a(href='/concept'): span= __('Концепция')
					a(href='/blog'): span= __('Блог')
					a(href='/buy'): span= __('Где купить?')
				.menu_drop
					each span in new Array(4)
						span
			block over
			.main_block
				.content_block: .content_inner
					block content
				.footer_block: .footer_inner
					.social_block
						//- a(href='https://www.instagram.com/xdancesky', target='_blank'): img(src='/stuff/laki/icons/social/instagram.png')
						//- a(href='https://twitter.com/xDanceSky', target='_blank'): img(src='/stuff/laki/icons/social/twitter.png')
						//- a(href='#', target='_blank'): img(src='/stuff/laki/icons/social/vk.png')
						//- a(href='#', target='_blank'): img(src='/stuff/laki/icons/social/facebook.png')
					.copy_block
						div= __('xDance тм является зарегистрированным товарным знаком.')
						div= __('Все права защищены.')
		include counters