doctype html
html
	head
		include header
	body(class=menu_active)
		.maket_block
			.title_block: .title_inner
				a.logo(href='/')
					img(src='/stuff/laki/icons/logo/main_w.png')
					span By Lena Latash
				.menu_block
					a.hidden(href='/#collectios') Коллекции
					a.hidden(href='/concept') Концепция
					a.hidden(href='/blog') Блог
					a.hidden(href='/buy') Где купить?
				if (session && session.user_id)
					.stargazer_block
							a(href='/auth') stargazer
							span= ' | '
							a(href='/auth/logout') выход
			block over
			.main_block
				.content_block: .content_inner
					block content
				.footer_block: .footer_inner
					.social_block
						a(href='#', target='_blank'): img(src='/stuff/laki/icons/social/instagram.png')
						a(href='#', target='_blank'): img(src='/stuff/laki/icons/social/twitter.png')
						a(href='#', target='_blank'): img(src='/stuff/laki/icons/social/vk.png')
						a(href='#', target='_blank'): img(src='/stuff/laki/icons/social/facebook.png')
					div xDance тм является зарегистрированным товарным знаком ООО «ОЛБО».
					div Все права защищены.
		include counters