extends layout

block header_meta
	- var content_title= 'xDance Sky' + ' | ' + post.i18n.title.get(locale)
	- var content_description = ''

block header_include
	//- - var include_libs_css = ['swiper.min.css']
	- var include_css = ['post.css']
	//- - var include_libs_js = ['swiper.min.js']
	//- - var include_js = ['post.js']

block content
	.post_block
		.post_poster
		h1.post_title= post.i18n.title.get(locale)
		.post_desctiption!= post.i18n.description.get(locale)