@font-face {
	font-family: 'Gerbera';
	src: url('/libs/fonts/Gerbera.otf');
}

@font-face {
	font-family: 'RegalFinessePro MedIt';
	src: url('/libs/fonts/PFRegalFinessePro-MediumItalic.otf');
}

@font-face {
	font-family: 'RegalTextPro Med';
	src: url('/libs/fonts/PFRegalTextPro-Medium.otf');
}

@font-face {
	font-family: 'RegalTextPro MedIt';
	src: url('/libs/fonts/PFRegalTextPro-MediumItalic.otf');
}

@font-face {
	font-family: 'RegalTextPro RegBold';
	src: url('/libs/fonts/PFRegalTextPro-RegB.otf');
}