@media screen and (max-width: 840px)
	@import 'mobile/_blog.styl'

.title_block
	position relative

.collects_block
	margin-top 80px
	.blog_title
		margin-bottom 80px
		font 26pt/32pt 'RegalTextPro RegBold'
		hyphens auto
	.collects_title
		font 12pt/14pt 'Gerbera'
		margin-bottom 20px
	.collects_items
		overflow hidden
		.collect_item
			cursor pointer
			display inline-block
			font 20pt/24pt 'RegalTextPro RegBold'
			&:hover span
				border-bottom 2px solid rgb(237, 70, 47)
			span
				border-bottom 2px solid transparent
			&:after
				color rgb(237, 70, 47)
				content '●'
				display inline-block
				margin-left 10px
				margin-right 5px
				border none
			&:last-child:after
				content ''

.posts_block
	margin-bottom 80px
	.post_item
		display block
		text-decoration none
		color black
		margin-top 80px
		padding-bottom 80px
		border-bottom 2px solid rgb(237, 70, 47)
		&:last-child
			border none
			padding-bottom 0
		.post_inner
			margin 0 auto
			max-width 740px
			.post_title
				text-align center
				margin-bottom 40px
				font 32pt/32pt 'RegalTextPro RegBold'
				border-bottom 2px solid transparent
			.post_intro
				hyphens auto
				font 16pt/22pt 'RegalTextPro RegBold'
		&:hover .post_title span
			border-bottom 2px solid rgb(237, 70, 47)