.title_block
	position relative

.posts_block
	margin-bottom 80px
	.post_item
		display block
		text-decoration none
		color black
		margin-top 80px
		padding-bottom 80px
		border-bottom 2px solid black
		&:last-child
			border none
			padding-bottom 0
		.post_inner
			margin 0 auto
			max-width 740px
			.post_title
				text-align center
				margin-bottom 40px
				font 28pt/30pt 'RegalTextPro Med'
				border-bottom 2px solid transparent
			.post_intro
				font 18pt/22pt 'RegalTextPro RegBold'
		&:hover .post_title span
			border-bottom 2px solid black