.title_block
	position relative

.posts_block
	margin-bottom 80px
	.post_item
		display block
		text-decoration none
		color black
		margin-top 80px
		.post_title
			margin-bottom 20px
		&:hover
			background-color lightgrey
