@media screen and (max-width: 840px)
	@import 'mobile/_buy.styl'

.title_block
	position relative

.cut
	margin-left 20px
	margin-right 20px
	margin-bottom 40px

.content_inner
	max-width 1064px
	padding-left 0!important
	padding-right 0!important

.over_block
	background-color rgba(246, 245, 242, 0.4)
	.buy_head
		max-width 1024px
		padding-left 20px
		padding-right 20px
		margin 0 auto
		position relative
		text-align center
		padding-top 60px
		padding-bottom 60px
		.buy_phone
			margin-top 10px
			font 16pt/22pt 'Gerbera'
			max-width 300px
			position absolute
			text-align left
		.buy_blank
			text-align center
			display inline-block
			color black
			padding-top 25px
			padding-bottom 25px
			padding-left 40px
			padding-right 40px
			border 2px solid black
			text-decoration none
			font 14pt/16pt 'Gerbera'
			&:hover
				background-color black
				color white

.shops_list
	padding-left 20px
	padding-right 20px
	margin-bottom 80px
	.list_title
		font 16pt/18pt 'RegalTextPro Med'
		margin-bottom 20px
		span
			&:after
				content ''
				display inline-block
				vertical-align middle
				margin-left 15px
				background-position center
				background-repeat no-repeat
				background-size contain
				transform rotate(90deg)
				background-image url('/stuff/laki/icons/arrow_list.svg')
				width 12px
				height 12px
			&:hover
				cursor pointer
				border-bottom 2px solid black
	.list_items
		display none
		&.show
			display block
		.list_item
			font 20pt/24pt 'RegalTextPro RegBold'
			display inline-block
			margin-right 20px
			border-bottom 2px solid transparent
			margin-bottom 5px
			cursor pointer
			&.active
			&:hover
				border-bottom 2px solid black


.buy_shops
	.shops_title
		text-align center
		font 32pt/38pt 'RegalTextPro RegBold'
		padding-top 80px
		padding-bottom 80px
	.shops_items
		overflow hidden
		.shop_item
			display inline-block
			vertical-align top
			width 49%
			font 16pt/22pt 'RegalTextPro RegBold'
			margin-bottom 80px
			padding-left 20px
			padding-right 20px
			box-sizing border-box
			.shop_city
				float left
				&:after
					content ','
					margin-right 5px
			.shop_time
				font 16pt/22pt 'RegalTextPro Med'