@media screen and (max-width: 680px)
	@import 'mobile/_buy.styl'

.title_block
	position relative

.over_block
	background-color rgb(246, 245, 242)
	.buy_head
		max-width 1200px
		padding-left 20px
		padding-right 20px
		margin 0 auto
		position relative
		text-align center
		padding-top 60px
		padding-bottom 60px
		.buy_phone
			margin-top 10px
			font 18pt/20pt 'RegalTextPro RegBold'
			max-width 300px
			position absolute
			text-align left
		.buy_blank
			text-align center
			display inline-block
			color black
			padding-top 20px
			padding-bottom 15px
			padding-left 40px
			padding-right 40px
			border 4px solid black
			text-decoration none
			font 16pt/18pt 'Gerbera'
			&:hover
				background-color black
				color white


.buy_shops
	.shops_tile
		text-align center
		font 28pt/30pt 'RegalTextPro Med'
		padding-top 40px
		padding-bottom 40px
	.shops_items
		overflow hidden
		.shop_item
			float left
			width 33.3333333333%
			margin-bottom 40px