@media screen and (max-width: 840px)
	@import 'mobile/_collect.styl'

.over_block
	position absolute
	top 0
	left 0
	width 100%
	height 100%
	background-color black
	background-size cover
	background-position center
	background-repeat no-repeat
	position absolute
	.collect_head
		max-width 1024px
		height 100%
		padding-left 20px
		padding-right 20px
		margin 120px auto
		position relative
		color white
		.collect_title
			font 40pt/42pt 'RegalTextPro Med'
		.collect_quote
			max-width 600px
			margin-top 20px
			margin-left 120px
			font 18pt/24pt 'Gerbera'

.main_block
	position absolute
	width 100%
	top 100%

.collect_body
	max-width 740px
	margin 0 auto
	padding-top 80px
	padding-bottom 40px
	.collect_intro
		margin-bottom 40px
		font 32pt/34pt 'RegalTextPro RegBold'
		hyphens auto
	.collect_description
		hyphens auto
		font 18pt/24pt 'RegalTextPro RegBold'

.collect_slider
		user-select none
		width 100%
		height 600px
		margin 0 auto
		position relative
		.swiper-button-next
			position absolute
			top 50%
			right 40px
		.swiper-button-prev
			position absolute
			top 50%
			left 40px
		.swiper-container
				width 100%
				height 100%
			.slide_item
				width 100%
				height 100%
				background-size cover
				background-position center
				background-repeat no-repeat

.collect_buy
	margin-top 80px
	text-align center
	a
		display inline-block
		color black
		padding-top 20px
		padding-bottom 15px
		padding-left 40px
		padding-right 40px
		border 4px solid black
		text-decoration none
		font 16pt/18pt 'Gerbera'
		&:hover
			background-color black
			color white

.collect_patterns
	width 100vw
	margin-left: calc((100% - 100vw) / 2)
	background-color black
	margin-top 80px
	padding-bottom 40px
	user-select none
	.patterns_title
		padding-top 40px
		padding-bottom 40px
		font 30pt/32pt 'RegalTextPro RegBold'
		text-align center
		color white
		span
			user-select auto
			cursor pointer
			border-bottom 2px solid transparent
			&:hover
				border-bottom 2px solid white
	.patterns_slider
		color white
		height 160px
		.swiper-wrapper
			height 100%
		.slide_item
			width 160px
			height 160px
			background-color grey
			border-radius 100%
			cursor pointer
			border 4px solid transparent
			box-sizing border-box
			&:hover
				border 4px solid white
			span
				height 20px
				position absolute
				top 0; left 0; right 0; bottom 0
				margin auto
				font 18pt/20pt 'RegalTextPro RegBold'
				text-align center

.collect_recomends
	max-width 740px
	margin 0 auto
	padding-top 80px
	padding-bottom 80px
	.recomends_title
		font 30pt/32pt 'RegalTextPro RegBold'
		text-align center
		padding-bottom 40px
	.recomends_desc
		hyphens auto
		font 18pt/24pt 'RegalTextPro RegBold'