@media screen and (max-width: 680px)
	@import 'mobile/_concept.styl'

.title_block
	position relative

.concept_title
	margin-top 80px
	margin-bottom 120px
	font 26pt/28pt 'RegalTextPro RegBold'
	hyphens auto

.author_block
	background-color rgb(247, 245, 242)
	padding-left 40px
	padding-right 40px
	.author_meta
		text-align center
		padding-top 40px
		.author_photo
			display block
			margin 0 auto
			width 160px
			border-radius 100%
		.author_name
			margin-top 20px
			font 16pt/18pt 'Gerbera'
		.author_title
			margin-top 40px
			margin-bottom 40px
			font 26pt/28pt 'RegalTextPro MedIt'
	.author_description
		max-width 800px
		margin 0 auto
		hyphens auto
		font 18pt/22pt 'RegalTextPro RegBold'

.cut.blog
	border-bottom none
	margin-top 40px

.concept_items
	margin-top 80px
	max-width 800px
	margin 0 auto
	.concept_item
		margin-top 80px
		margin-bottom 80px
		.item_title
			text-align center
			margin-bottom 40px
			font 28pt/30pt 'RegalTextPro Med'
		.item_desc
			hyphens auto
			font 18pt/22pt 'RegalTextPro RegBold'