@media screen and (max-width: 840px)
	@import 'mobile/_direction.styl'

.over_block
	position absolute
	top 0
	left 0
	width 100%
	height 100%
	background-color black
	background-size cover
	background-position center
	background-repeat no-repeat
	position absolute
	&.contain
		background-size contain
	.direction_head
		max-width 1024px
		height 100%
		padding-left 20px
		padding-right 20px
		margin 140px auto
		position relative
		color white
		.direction_title
			max-width 800px
			font 60pt/62pt 'RegalTextPro RegBold'

.main_block
	position absolute
	width 100%
	top 100%

.direction_description
	margin 0 auto
	max-width 740px
	margin-top 80px
	margin-bottom 40px
	font 32pt/38pt 'RegalTextPro RegBold'
	hyphens auto
	text-align center

.direction_collects
	margin-bottom 80px
	.collect_item
		margin-top 40px
		.collect_title
			padding-top 40px
			padding-bottom 40px
			text-align center
			font 42pt/42pt 'RegalTextPro Med'
		.collect_slider
				user-select none
				max-width 1024px
				height 480px
				margin 0 auto
				position relative
				.swiper-button-next
					position absolute
					top 50%
					right 40px
				.swiper-button-prev
					position absolute
					top 50%
					left 40px
				.swiper-pagination
					margin 0 auto
					position relative
					.swiper-pagination-bullet
						margin-top 20px
						margin-right 8px
						&:last-child
							margin-right 0
				.swiper-container
						max-width 740px
						height 100%
					.slide_item
						width 100%
						height 100%
						background-size cover
						background-position center
						background-repeat no-repeat
		.collect_description
			hyphens auto
			padding-top 60px
			font 16pt/22pt 'RegalTextPro RegBold'
			max-width 740px
			margin 0 auto
