@media screen and (max-width: 680px)
	@import 'mobile/_direction.styl'

.over_block
	position absolute
	top 0
	left 0
	width 100%
	height 100%
	background-color black
	background-size cover
	background-position center
	background-repeat no-repeat
	position absolute
	.direction_head
		max-width 1200px
		height 100%
		padding-left 20px
		padding-right 20px
		margin 120px auto
		position relative
		color white
		.direction_title
			max-width 600px
			margin-top 140px
			font 42pt/42pt 'RegalTextPro Med'
		.direction_description
			hyphens auto
			margin-top 80px
			max-width 600px
			font 18pt/24pt 'Gerbera'

.main_block
	position absolute
	width 100%
	top 100%

.direction_collects
	margin-bottom 80px
	.collect_item
		margin-top 40px
		.collect_title
			padding-top 40px
			padding-bottom 40px
			text-align center
			font 42pt/42pt 'RegalTextPro Med'
		.collect_slider
				user-select none
				max-width 1000px
				height 480px
				margin 0 auto
				position relative
				.swiper-button-next
					position absolute
					top 50%
					right 40px
				.swiper-button-prev
					position absolute
					top 50%
					left 40px
				.swiper-pagination
					margin 0 auto
					position relative
					.swiper-pagination-bullet
						margin-top 20px
						margin-right 8px
						&:last-child
							margin-right 0
				.swiper-container
						max-width 800px
						height 480px
					.slide_item
						width 100%
						height 100%
						background-size cover
						background-position center
						background-repeat no-repeat
		.collect_description
			hyphens auto
			padding-top 60px
			font 16pt/18pt 'RegalTextPro RegBold'
			max-width 800px
			margin 0 auto

.sim_collects
	padding-top 80px
	padding-bottom 40px
	margin-left -20px
	margin-right -20px
	.sim_title
		padding-bottom 40px
		text-align center
		font 20pt/22pt 'Gerbera'
	.sim_items
		overflow hidden
		.sim_item
			color black
			text-decoration none
			display inline-block
			width 33.3333333333%
			&:hover
				.quote
					transition .2s linear
					opacity 1!important
				.image
					transition .2s linear
					filter: blur(5px)
			.sim_item_title
				text-align center
				font 26pt/28pt 'RegalTextPro Med'
				span
					margin 0 auto
					display block
					width 80%
			.sim_item_image
				width 100%
				padding-top 100%
				box-sizing border-box
				position relative
				.quote
					transition .2s linear
					text-align center
					width 80%
					top 0
					left 0
					right 0
					bottom 0
					margin auto
					position absolute
					display table
					opacity 0
					z-index 999
					color white
					font 22pt/24pt 'RegalTextPro Med'
				.image
					transition .2s linear
					position absolute
					top 20px
					left 20px
					right 20px
					bottom 20px
					margin auto
					background-size cover
					background-position center
					background-repeat no-repeat