@import '_fonts.styl'
@media screen and (max-width: 680px)
	@import 'mobile/_global.styl'

html, body
	margin 0
	padding 0
	height 100%
	font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

.maket_block
	height 100%

.title_block
	overflow hidden
	background-color rgba(0, 0, 0, 0.5)
	// background-color grey
	z-index 999999
	position absolute
	width 100%
	z-index 99999999
	top 0
	.title_inner
		display flex
		justify-content space-between
	span, a
		color white
		text-decoration none
	.logo img
		padding-top 20px
		padding-bottom 20px
		display block
		width 180px
		// background-color rgb(185, 213, 237)
	.lang_block
		flex-grow 1
		margin-left 60px
		margin-right 40px
		margin-top 40px
		a
			font 18pt/16pt 'RegalFinessePro MedIt'
	.stargazer_block
		flex-grow 1
		font 16pt/16pt 'Times'
		margin-top 40px
		margin-right 40px
	.menu_block
		margin-top 40px
		font 16pt/18pt 'Gerbera'
		a
			display inline-block
			margin-right 40px
			&:last-child
				margin-right 0

// .content_block
// 	background-color lightgrey

.footer_block
	// background-color maroon
	text-align center
	padding-top 20px
	padding-bottom 20px
	.copy_block
		font 14pt/16pt 'RegalTextPro Bold'
		div
			margin-bottom 5px
	.social_block
		margin-bottom 10px
		img
			width 30px
			margin-right 10px

.footer_inner, .content_inner, .title_inner
	max-width 1200px
	padding-left 20px
	padding-right 20px
	margin 0 auto

.cut
	padding-top 40px
	padding-bottom 40px
	font 32pt/36pt 'RegalTextPro RegBold'
	text-align center
	border-top 1px solid black
	border-bottom 1px solid black
	a
		color black
		text-decoration none
		border-bottom 2px solid black
	&.instagram
		img
			width 80px
			margin 0 auto
			display block
		a
			display inline-block
			border-bottom 2px solid transparent
			&:hover
				border-bottom 2px solid black

.sim_collects
	padding-top 80px
	padding-bottom 40px
	margin-left -20px
	margin-right -20px
	.sim_title
		padding-bottom 40px
		text-align center
		font 20pt/22pt 'Gerbera'
	.sim_items
		overflow hidden
		.sim_item
			color black
			text-decoration none
			display inline-block
			width 33.3333333333%
			&:hover
				.quote
					transition .2s linear
					opacity 1!important
				.image
					transition .2s linear
					filter: blur(5px)
			.sim_item_title
				text-align center
				font 26pt/28pt 'RegalTextPro Med'
				span
					margin 0 auto
					display block
					width 80%
			.sim_item_image
				width 100%
				padding-top 100%
				box-sizing border-box
				position relative
				.image_in
					top 20px; left 20px; right 20px; bottom 20px
					position absolute
					margin auto
					overflow hidden
					.image
						-webkit-backface-visibility: hidden;
						-webkit-transform: translateZ(0) scale(1.0, 1.0);
						transition .3s linear
						position absolute
						top -5px; left -5px; right -5px; bottom -5px
						background-size cover
						background-position center
						background-repeat no-repeat
					.quote
						transition .2s linear
						text-align center
						width 80%
						top 0; left 0; right 0; bottom 0
						margin auto
						position absolute
						display table
						opacity 0
						z-index 999
						color white
						font 22pt/24pt 'RegalTextPro Med'