@import '_fonts.styl'
@media screen and (max-width: 680px)
	@import 'mobile/_global.styl'

html, body
	margin 0
	padding 0
	font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

.main_block
	max-width 1200px
	padding-left 20px
	padding-right 20px
	margin 0 auto
	background-color lightgrey

.title_block
	overflow hidden
	background-color grey
	z-index 999999
	position relative
	width 100%

.logo
	float left
	span
		display block
		margin-top 40px
		float left
	img
		float left
		display block
		width 200px

.menu_block
	float right
	margin-top 40px
	a
		margin-left 40px


.footer_block
	background-color maroon
	height 80px