@media screen and (max-width: 840px)
	@import 'mobile/_post.styl'

.title_block
	position relative

.post_title
	text-align center
	margin-top 80px
	margin-bottom 42px
	font 32pt/32pt 'RegalTextPro RegBold'

.post_desctiption
	font 16pt/22pt 'RegalTextPro RegBold'
	margin 0 auto
	max-width 740px
	margin-bottom 80px