.title_block
	position relative

.post_title
	text-align center
	margin-top 80px
	margin-bottom 42px
	font 28pt/30pt 'RegalTextPro Med'

.post_desctiption
	font 18pt/22pt 'RegalTextPro RegBold'
	margin 0 auto
	max-width 740px
	margin-bottom 80px